/*html { 
  background: url(images/bg.jpg) no-repeat center center fixed; 
  background: url(images/pexels-photo-242236.jpeg) center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

h1 {
  color: #0c0335;
  font-size: 30px;
  position: center;
}

h2 {
  color: #0c0335;
  font-size: 25px;
}

h3  {
  color: black;
  font-size: 20px;
}
h4 {
  color: black;
  font-size: 20px;
}

ul { list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
#main-menu li {
  float: left;
}
li a{
  font-stretch: 18px;
  display: block;
  color: white;
  text-align: center;
  padding: 20x 24px;
  text-decoration: none;
}
li a.active{
background-color: orange;
color: white;
}
li a:hover{
  background-color: #111;
  color: white;
}
ol{
  color: black;
}

ol li {
  color: black;
  font-size: 17px;
}

#frst-p {
  color: black;
  font-size: 18px;
}

#scnd-p {
  color: black;
  font-size: 18px;
}

.beginning {
  color: black;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

#login-form {

}

body { 
  padding: 30px;
  /*background: white;*/
}
#background-image {
  background: url(images/pexels-photo-242236.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 50px 30px;
}
#maincol {
  float: left;
  width: 75%;
}

#rightcol {
  float: right;
  width: 25%;
}

/* Main Menu */
#main-menu {

}

#main-menu ul li {
  float: left;
  list-style: none;
}

#main-menu ul li a {
  padding: 10px;
}