h1 {
  color: #0c0335;
  font-size: 30px;
  position: center;
}

h2 {
  color: #0c0335;
  font-size: 25px;
}

h3  {
  color: #9ab6ea;
  font-size: 20px;
}

ol{
  color: black;
}

ol li {
  color: black;
  font-size: 17px;
}

#frst-p {
  color: black;
  font-size: 18px;
}

#scnd-p {
  color: black;
  font-size: 18px;
}

.beginning {
  color: #9ab6ea;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

#login-form {

}

body { 
  padding: 30px;
  background: black;
}
#background-image {
  background: url(images/pexels-photo-242236.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 50px 30px;
}
#maincol {
  float: left;
  width: 75%;
}

#rightcol {
  float: right;
  width: 25%;
}

/* Main Menu */
#main-menu {

}

#main-menu ul li {
  float: left;
  list-style: none;
}

#main-menu ul li a {
  padding: 10px;
}